body {

    background-color: #EEEEEE;
    
}

h1 {

    color: rgb(143, 39, 7);
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
    
}
p {
    margin-left: 200px;
    margin-right: 200px;
    color: rgb(0, 0, 0);
    font-size: 20px;

}

h2 {
    color: #00ADB5;
    text-align: center;
    margin-left: 0px;
}
.class{
    list-style-position: outside;
    list-style-type: circle;
    list-style-position: inside
}

img {
    float: left; 
    
    margin-right: 20px;
}

li {
    text-align: center;
    list-style: circle;
    text-decoration: none;
}

h3 {
    margin-left: 200px; 
    margin-right: 200px;
}
